.image-container {
  position: relative;
  transition: transform 0.2s;
}

.image-container:hover {
  cursor: pointer;
  transform: scale(1.1)
}

.image-container:hover .overlay {
opacity: 1;
}
.overlay {
  position: absolute;
  background: rgba(0,0,0,0.8);
  width: 100%;;
  transition: 0.5 ease;
  opacity: 0;
  bottom: 0;
  font-size: 20px;
  padding: 20px;
  text-align: center;

}

.bio {
  font-size: 1rem;
}

.contain {
  text-align: center
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 500ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

.mymodal {
  display:inline-flex;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px grey;
  background:black;
  overflow: scroll;
  border-radius: 5px;
  outline: none;


}

.myoverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
}

.info {
  color: black;
  text-align: center;
}
hr.solid {
  border-top: 3px solid white;
}